body {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 92px 64px;
    height: 300px;
}

nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.header-text p {
    margin: 0;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
    margin-top: 16px;
}

.header-links {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin: 16px 0;
}

.header-link {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.header-image {
    background-color: #e5e7eb5b;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 0 40px;
    margin-left: 52px;
}

header button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 800;
    padding: 8px 20px;
    margin-top: 12px;
    border-radius: 8px;
}

section {
    /* height: 300px; */
    padding: 0 92px 64px;
}

.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.random-information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.images {
    display: flex;
    justify-content: center;
}

.image {
    border: 5px solid #3882F6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    margin: 0;
}

.image-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image-subtext {
    text-align: center;
    margin: 12px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 64px 92px 0;
    margin: 0;
}

.speaker {
    margin: 0;
    padding-right: 100px;
    font-weight: 800;
}

#call-to-action-section {
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
    padding: 92px;
}

.call-to-action-content {
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 92px;
    width: 600px;
    height: 150px;
    padding: 0 50px;
    border-radius: 8px;
}

.call-to-action-text {
    display: flex;
    flex-direction: column;
}

.call-to-action-text h3, .call-to-action-text p {
    margin: 0;
}

#call-to-action-section button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 800;
    padding: 8px 20px;
    margin-top: 12px;
    width: 104px;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
}

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
}